@import 'variables';
main {
    padding: 6rem 0 0;
    div.carousel.carousel-slider {
        height: 60vh !important;
        .indicators .indicator-item {
            background-color: $gris-bullet;
        }
        .indicators .indicator-item.active {
            background-color: $rojo-bullet;
        }
        div.carousel-item {
            height: auto;
            padding: 0 3vh;
            img {
                height: 30vh;
                width: auto;
            }
            h2 {
                color: $gris-dark;
            }
            p {
                color: $gris-letra-soft;
            }
        }
    }
}