@import 'variables';
div.carousel {
    height: 800px;
    div.carousel-item {
        img {
            height: 200px;
            width: auto;
        }
        h2 {
            color: $gris-dark;
        }
        p {
            color: $gris-letra-soft;
        }
    }
}
