@import 'variables';
body {
    height: 100%;
    color: #fff;
    background-color: $morado-light;
    section {
        padding: 2rem;
    }
    #saldo {
        height: 40%;
        a {
            color: $turquesa-tyc;
        }
    }
    i.material-icons.boton {
        color: #fff;
    }
    #movimientos {
        background-color: $morado-dark;
        height: 60%;
        div.cabezal {
            border-bottom: 1px solid #fff;
            i {
                border-radius: 50%;
                border: 2px solid #fff;
            }
        }
        div.botones {
            padding-top: 3rem;
        }
    }
}
