<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuenta creada</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/cuenta-creada.css">
</head>

<body>
    <main class="container fluid">
        <div class="row center-align">
            <div class="col s6 offset-s3 m2 offset-m5">
                <img class="responsive-img" src="../assets/img/icons/check.png" alt="check">
            </div>
            <div class="col s8 offset-s2 m6 offset-m3">
                <h5><b>¡Bien!</b></h5>
                <h5><b>Ahora puedes usar Yape</b></h5>
            </div>
        </div>        
    </main>
   
    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../assets/js/cuenta-creada.js"></script>
</body>

</html>