<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuario Home</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/usuario-home.css">
</head>

<body>
    <section id="saldo" class="container-fluid">
        <div class="row right-align">
            <a href="#"><i class="material-icons boton">settings</i></a>
        </div>
        <div class="row">
            <div class="col s4 offset-s4 m2 offset-m5">
                <img class="responsive-img" src="../assets/img/icons/happy-face.png" alt="happy-face">
            </div>
        </div>
        <div class="row center-align">
            
                <h5>¡Hola!</h5>
                <a href="#"><i class="tiny material-icons">visibility</i> Mostrar saldo</a>
            
        </div>
    </section>

    <section id="movimientos" class="container-fluid">

        <div class="cabezal row">
            <div class="col s10 left-align valign-wrapper">
                <p>ÚLTIMOS MOVIMIENTOS</p>
            </div>
            <div class="col s2 right-align">
                <a href="#"><i class="material-icons boton">navigate_next</i></a>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m2 offset-m4">
                <img class="responsive-img" src="../assets/img/icons/icon.png" alt="icon">
            </div>
            <div class="col s8 m2">
                <h6>¿Aún no realizas tu primer pago?</h6>
                <p>Es rápido y sencillo</p>
            </div>
        </div>
        <div class="botones row center-align">
            <div class="col s6">
                <a class="btn-floating btn-large waves-effect waves-light amber"><i class="material-icons">send</i></a>
                <h6>ENVIAR PAGO</h6>
            </div>
            <div class="col s6">
                <a class="btn-floating btn-large waves-effect waves-light red"><i class="medium material-icons">fullscreen</i></a>
                <h6>RECIBIR PAGO</h6>
            </div>
        </div>

    </section>


    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>
