<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Validar codigo</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/validar-codigo.css">
</head>

<body>
    <main class="container center">
        <div class="row">
            <div class="col s4 offset-s4 m2 offset-m5">
                <img class="responsive-img" src="../assets/img/icons/message.png" alt="phone">
            </div>
        </div>
        <div class="row">
            <h4>Ahora ingresa tu código</h4>
            <p class="t-gris">Enviamos un SMS con el código de validación al número <span id="numTel"></span></p>
        </div>
        <div class="row">
            <form id="codigoUsuario" class="col s12">
                <div class="datos row">
                    <div class="input-field col s12 m6 offset-m3">
                        <i class="material-icons prefix">lock</i>
                        <input id="areaCodigo" type="text" pattern="[0-9]{6}" placeholder="------" class="validate">
                        <label for="areaCodigo">Código</label> 
                        <h6>Reintentar en <i class="tiny material-icons">access_time</i> 21s</h6>                       
                    </div>
                </div>
            </form>
        </div>
    </main>


    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../assets/js/validar-codigo.js"></script>
</body>

</html>
