body {
  height: 100%;
  color: #fff;
  background-color: #451e36;
}

body #saldo {
  height: 40%;
}

body #saldo div.row.right-align {
  padding: 1rem;
}

body #saldo a {
  color: #00c3a3;
}

body i.material-icons.boton {
  color: #fff;
}

body #movimientos {
  background-color: #38052a;
  height: 60%;
}

body #movimientos div.cabezal {
  border-bottom: 1px solid #fff;
  padding: 1rem 1rem 0;
}

body #movimientos div.cabezal i {
  border-radius: 50%;
  border: 2px solid #fff;
}

body #movimientos div.botones {
  padding-top: 3rem;
}
